/*** Fonts ***/
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v21-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*** Variables ***/
:root {
  /*** Colors ***/
  --bg-body-color: #fafafa;
  --text-body-color: #4d4f62;
  /*** Fonts ***/
  --font-family: 'Poppins', sans-serif;
}

/*** Reset styles ***/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
input,
textarea {
  outline: none;
}

/*** Base Styles ***/
body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-body-color);
  background-color: var(--bg-body-color);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding-top: 85px;
  padding-bottom: 85px;
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 32px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
}

/*** Feature Card Section Styles ***/
.section-features {
  flex-grow: 1;
}
.features-section-title-wrap {
  margin-bottom: 76px;
}
.section-features-title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 16px;
}
.text-weight-light {
  font-weight: 300;
}
.section-features-subtitle {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  text-align: center;
  opacity: 0.5;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.features-list-item:nth-child(3) {
  order: 4;
}
.features-card {
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  background: #fff;
  padding: 28px;
  border-radius: 8px;
  &.is-green {
    border-top: 3px solid #44d3d2;
  }
  &.is-red {
    border-top: 3px solid #ea5454;
  }
  &.is-blue {
    border-top: 3px solid #549ef2;
  }
  &.is-yellow {
    border-top: 3px solid #fcae4a;
  }
}
.features-card-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 1px;
}
.features-card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  opacity: 0.5;
  margin-bottom: 33px;
}
.features-card-icon {
  width: 57px;
  height: 57px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .features-section-title-wrap {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 64px;
  }
  .section-features-title {
    font-size: 36px;
  }
  .features-card {
    padding: 32px;
  }
  .features-card-title {
    margin-bottom: 6px;
  }
  .features-card-text {
    margin-bottom: 40px;
  }
  .features-card-icon {
    width: 64px;
    height: 64px;
  }
  .features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }
  .features-list-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-content: center;
  }
  .features-list-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .features-list-item:nth-child(3) {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    align-content: center;
  }
  .features-list-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

/*** Attribution footer ***/
.attribution {
  color: var(--dark-navy);
  background-color: var(--dark-grey);
  padding: 16px;
  text-align: center;
}
.attribution_wrap {
  margin: 0 auto;
  max-width: 24ch;
}
.attribution a {
  text-decoration: underline;
  opacity: 0.7;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.attribution a:hover,
.attribution a:focus {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .attribution {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .attribution_wrap {
    max-width: 100%;
  }
}
